# -------------------------
# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
*.log

# Virtual Environments
venv/

# -------------------------
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
video_chunks

# -------------------------
# VSCode
.vscode/
.history/

# -------------------------
# OS-specific
.DS_Store
Thumbs.db

# -------------------------
# Output & Upload Folders
uploads/*
!uploads/.gitkeep

outputs/*
!outputs/.gitkeep

Sample_videos
testUploadSimultaneously.js

# -------------------------
# DeepFilterNet's venv if mistakenly added
DeepFilterNet/venv/
